<GridLayout rows="auto,*">
    <!-- BackGround -->
    <android>
        <ImageCacheIt stretch="aspectFill" class="background" rowSpan="2" [imageUri]="backgroundImage"></ImageCacheIt>
    </android>

    <ios>
        <Image stretch="aspectFill" class="background" rowSpan="2" [src]="backgroundImage"></Image>
    </ios>
    <!-- /BackGround -->

    <!-- Action Bar-->
    <GridLayout class="action-bar-custom" orientation="horizontal">
        <Label text="Daily forecast"></Label>
        <StackLayout horizontalAlignment="right">

            <android>
                <Label class="material-icons" text="&#xE8B8;"></Label>
            </android>
            <ios>
                <Label class="fa" [text]="'fa-cog' | fonticon"></Label>
            </ios>

        </StackLayout>
    </GridLayout>
    <!--/Action Bar -->

    <!-- Content -->
    <ListView [items]="weather?.daily?.data">
        <template let-item="item">
            <StackLayout orientation="horizontal">

                <Label [text]="item.time | time:'dddd'"></Label>

                <Label [text]="item.icon" col="1"></Label>
                <StackLayout col="2" orientation="horizontal">
                    <Label [text]="item.temperatureMin | temperature"></Label>
                    <Label [text]="item.temperatureMax | temperature"></Label>
                </StackLayout>
            </StackLayout>
        </template>
    </ListView>
    <!--/Content -->

</GridLayout>