<GridLayout rows="auto,*" (loaded)="loaded($event)" (unloaded)="unloaded($event)">
    <!-- BackGround -->
     <android>
         <FrescoDrawee height="100%" actualImageScaleType="fitXY" class="background" rowSpan="2" [imageUri]="backgroundImage"></FrescoDrawee>
    </android>

    <ios>
        <Image stretch="aspectFill" class="background" rowSpan="2" [src]="backgroundImage"></Image>
    </ios>
    <!-- /BackGround -->

    <!-- Content -->
    <ListView separatorColor="transparent" class="main-bg" [rowHeight]="rowHeight" row="1" [items]="daily?.data">
        <template let-item="item">
            <CardView elevation="0" class="card" margin="0 5">
                <GridLayout class="daily-list" columns="4*,3*,auto,*,auto,*">

                    <Label verticalAlignment="center" style="margin-left:10" [text]="item?.time | time:'dddd'"></Label>

                    <Label verticalAlignment="center" col="1" class="wi" [text]="item?.icon | weathericon | fonticon" col="1"></Label>

                    <Label verticalAlignment="center" col="2" [text]="item.temperatureMin | temperature"></Label>
                    <Label verticalAlignment="center" col="3" class="wi" [text]="'wi-degrees'|fonticon"></Label>
                    <Label verticalAlignment="center" col="4" [text]="item?.temperatureMax | temperature"></Label>
                    <Label verticalAlignment="center" style="margin-right:10" class="wi" col="5" [text]="'wi-degrees'|fonticon"></Label>
                </GridLayout>
            </CardView>
        </template>
    </ListView>
    <!--/Content -->

</GridLayout>