<ActionBar title="WeatheRecipes">


    <ActionItem (tap)="goToSearch()">
        <Button class="material-icons action-bar-icon" text="&#xE145;"></Button>
    </ActionItem>
    <ActionItem>
        <Button class="material-icons action-bar-icon" text="&#xE8B8;"></Button>
    </ActionItem>


    <!--<ios>
        <GridLayout horizontalAlignment="right" columns="auto,*,auto">
            <Label col="1" verticalAlignment="center" horizontalAlignment="right" (tap)="goToSearch()" class="fa custom-action-bar-icon action-bar-icon"
                [text]="'fa-plus' | fonticon"></Label>
            <Label col="1" verticalAlignment="center" horizontalAlignment="right" class="fa action-bar-icon" [text]="'fa-cog' | fonticon"></Label>
        </GridLayout>
    </ios>-->

</ActionBar>
<TabView  (selectedIndexChanged)="selectedIndexChanged($event)" textColor="#ffffff" style="color:#ffffff" tabsBackgroundColor="#607D8B" selectedColor="#ffffff"
    #tabview>

    <StackLayout *tabItem="{title: items[0].title}">
        <weather></weather>
    </StackLayout>

    <StackLayout *tabItem="{title: items[1].title}">
        <daily></daily>
    </StackLayout>

    <StackLayout *tabItem="{title: items[2].title}">
        <locations></locations>
    </StackLayout>
</TabView>