<ActionBar title="WeatheRecipes">
    <ActionItem (tap)="close()">
        <Button class="material-icons action-bar-icon" style="background-color:transparent" text="&#xE5CD;"></Button>
    </ActionItem>
</ActionBar>


<StackLayout>
    <CardView margin="10" padding="5" elevation="40" radius="5">
        <StackLayout>
            <Label class="title" textWrap="true" horizontalAlignment="center" [text]="recipe?.title"></Label>
            <android>
                <FrescoDrawee height="300" width="300" actualImageScaleType="fitXY" class="background" rowSpan="2" [imageUri]="recipe?.image"></FrescoDrawee>
            </android>
            <ios>
                <Image src="{{recipe?.image}}"></Image>
            </ios>
            <Label class="prep" horizontalAlignment="center" text="Ready {{recipe?.readyInMinutes}} minutes"></Label>

            <Button class="instructions" style="margin-bottom:5" verticalAlignment="bottom" text="View Recipe" (tap)="openUrl()"></Button>
        </StackLayout>
    </CardView>
</StackLayout>