.card{
 background-color:#4Dffffff;
}
.time{
horizontal-align:center;
color: #ffffff;
}
.icon{
horizontal-align:center;
font-size:20;
color: #ffffff;
}
.temperature{
horizontal-align:center;
color: #ffffff;
}