.action-bar-custom{
    background-color: #40000000;
}
.temp{
    font-size: 60;
}
.temp-icon{
    font-size: 30;
}
.current-forecast-icon{
    font-size: 100;
}
.background{

}
Label{
    color:white;
}