<GridLayout rows="auto,*">
    <!-- BackGround -->
    <android>
        <ImageCacheIt width="100%" stretch="fill" class="background" rowSpan="2" [imageUri]="backgroundImage"></ImageCacheIt>
    </android>

    <ios>
        <Image width="100%" stretch="fill" class="background" rowSpan="2" [src]="backgroundImage"></Image>
    </ios>
    <!-- /BackGround -->
    <!-- Action Bar-->
    <!--<GridLayout columns="44,*,auto" class="action-bar-custom main-bg" orientation="horizontal">

                <StackLayout col="2" horizontalAlignment="right">
                    <android>
                        <Label verticalAlignment="center" class="material-icons action-bar-custom-icon" text="&#xE8B8;"></Label>
                    </android>
                    
                    <ios>
                        <Label verticalAlignment="center" class="fa custom-action-bar-icon" [text]="'fa-cog' | fonticon"></Label>
                    </ios>

                </StackLayout>
            </GridLayout>-->
    <!--/Action Bar -->

    <!-- Content -->
    <PullToRefresh row="1" (refresh)="updateWeather(refresh)" #refresh>
        <ScrollView height="100%" class="content-scroll">
            <GridLayout #main class="main-bg" rows="auto,auto,auto,auto,*,*">



                <StackLayout class="content-summary" row="0" orientation="horizontal">
                    <Label class="content-summary-text" row="2" [text]="weather?.currently?.summary"></Label>
                    <Label class="wi content-summary-icon" [text]="weather?.currently?.icon | weathericon | fonticon"></Label>
                </StackLayout>

                <StackLayout class="content-temp" row="1" orientation="horizontal">
                    <Label class="content-temp-text" [text]="weather?.currently?.temperature | temperature"></Label>
                    <Label class="content-temp-unit wi" [text]="'wi-degrees'|fonticon"></Label>
                </StackLayout>

                <Label row="2" class="content-location" text="{{location?.address?.city || location?.address?.town}}, {{location?.address?.country}}"></Label>

                <!-- <StackLayout row="3" class="content-hi-low">
                <Label [text]="weather?.hourly | high"></Label>
                <Label [text]="weather?.hourly | low"></Label>
            </StackLayout>-->

                <StackLayout class="content-find-drink" horizontalAlignment="center" row="3" orientation="horizontal">
                    <android>
                        <Label class="material-icons" style="color:white" text="&#xE544;"></Label>
                        <Label style="color:white" text="Find me a drink "></Label>
                    </android>

                    <ios>
                        <Label class="fa" text="'fa-glass' | fonticon"></Label>
                        <Label class="fa" text="Find me a drink "></Label>
                    </ios>
                </StackLayout>

                <GridLayout verticalAlignment="center" class="content-details" columns="*,*,*" row="4">

                    <StackLayout col="0">
                        <StackLayout class="content-details-speed">
                            <Label class="content-details-speed-text" text="Wind"></Label>
                            <Label class="content-details-speed-unit" text="{{weather?.currently?.windSpeed | speed:weather?.flags}}({{weather?.currently?.windBearing | windDirection}})"></Label>
                        </StackLayout>

                        <StackLayout class="content-details-humidity" col="1">
                            <Label class="content-details-humidity-text" text="Humidity"></Label>
                            <Label class="content-details-humidity-unit" text="{{weather?.currently?.humidity * 100}}%"></Label>
                        </StackLayout>

                    </StackLayout>


                    <StackLayout col="1">
                        <StackLayout class="content-details-visibility">
                            <Label class="content-details-visibility-text" text="Visibility"></Label>
                            <Label class="content-details-visibility-unit" [text]="weather?.currently?.visibility"></Label>
                        </StackLayout>

                        <StackLayout class="content-details-pressure" col="1">
                            <Label class="content-details-pressure-text" text="Pressure"></Label>
                            <Label class="content-details-pressure-unit" [text]="weather?.currently?.pressure"></Label>
                        </StackLayout>

                    </StackLayout>

                    <StackLayout col="2">
                        <StackLayout class="content-details-precipitation" col="2">
                            <Label class="content-details-precipitation-text" text="Precipitation"></Label>
                            <Label class="content-details-precipitation-unit" [text]="weather?.currently?.precipProbability | precipitation: weather?.flags"></Label>
                        </StackLayout>

                        <StackLayout class="content-details-cloudcover" col="2">
                            <Label class="content-details-cloudcover-text" text="Cloud Cover"></Label>
                            <Label class="content-details-cloudcover-unit" [text]="weather?.currently?.cloudCover"></Label>
                        </StackLayout>
                    </StackLayout>

                </GridLayout>


                <GridLayout row="5" verticalAlignment="bottom">
                    <forecast [weather]="weather"></forecast>
                </GridLayout>


            </GridLayout>
        </ScrollView>
    </PullToRefresh>
    <!--/Content -->

</GridLayout>