.action-bar-custom{
    padding:5;
    height:60;
    background-color: #40000000;
}
.action-bar-title{
font-size: 20
}
.action-bar-time{
font-size: 15
}
.current-temp{
    padding-right: 10;
    margin-top:20 
}
.temp-high{
margin-left: 10;
}
.temp-low{
    margin-left: 25;
}
.temp{
    font-size: 80;
}
.temp-icon{
    font-size: 30;
}
.current-forecast-icon{
    font-size: 60;
}
.background{

}
Label{
    color:white;
}

.content-scroll{}

.content{
    background-color: #40000000;
}
.wind-direction{
   font-size: 20;
    animation-name:move-compass;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes move-compass{
    0%{transform: rotate(0)}
    20%{transform: rotate(-50)}
    40%{transform: rotate(50)}
    60%{transform: rotate(-50)}
    80%{transform: rotate(50)}
    100%{transform: rotate(90)}
}