.temperature{
    horizontal-align:center;
}
.temperature .text{
    font-size: 90;
    color: #ffffff;
     horizontal-align:center;
     margin-bottom: -10;
}
.temperature .icon{
   font-size: 50;
    color: #ffffff;
     horizontal-align:center;
}
.temperature Label{
    color: white;
}
.content-location{
color: #ffffff;
horizontal-align:center;
font-size: 12;
}

.summary{
horizontal-align:center;
font-size: 20;
padding-top: 10
}

.summary Label{
color: #ffffff;
}

.summary .text{
margin-right: 5;
horizontal-align:center;
}

.summary .icon{
margin-left: 5;
horizontal-align:center;
}

.content-hi-low{

}
.content-hi-low Label{
color: #ffffff;
}

.content-icon{
color: #ffffff;
}

.details{}

.details .first{}
.details .last{}


.speed .text{
    color: #ffffff;
    horizontal-align:center;
}

.speed .unit{
    color: #ffffff;
    horizontal-align:center;
}
.details .title{
    text-align: center;
}
.details .data{
    text-align: center;
    vertical-align: center;
}
.find-me{
color: #ffffff;
 background-color: #607D8B;
 border-radius:25;
 height: 50;
 width: 200;
}
