<GridLayout rows="auto,*" (loaded)="loaded($event)" (unloaded)="unloaded($event)">
    <!-- BackGround -->
    <android>
        <ImageCacheIt stretch="aspectFill" class="background" rowSpan="2" [imageUri]="backgroundImage"></ImageCacheIt>
    </android>

    <ios>
        <Image stretch="aspectFill" class="background" rowSpan="2" [src]="backgroundImage"></Image>
    </ios>
    <!-- /BackGround -->
    <!-- Content -->
    <ScrollView>
        <StackLayout class="main-bg" row="1" #main>

            <CardView (tap)="selectItem('auto_location')" elevation="0" class="card">
                <StackLayout [height]="rowHeight">

                    <GridLayout rows="*,*" columns="auto,*,*" style="padding:0 16" verticalAlignment="center" orientation="horizontal">
                        <android>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="selected === 'auto_location'" class="material-icons" text="&#xE837;"></Label>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="selected !== 'auto_location'" class="material-icons" text="&#xE836;"></Label>
                        </android>
                        <ios>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="selected === 'auto_location'" class="fa" [text]="'dot-circle-o' | fonticon"></Label>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="selected !== 'auto_location'" class="fa" text="'circle-o' | fonticon"></Label>
                        </ios>
                        <Label col="1" style="padding-left:16" verticalAlignment="center" text="Current Location"></Label>

                        <android>
                            <Label col="2" rowSpan="2" style="padding-right:16" class="material-icons" verticalAlignment="center" horizontalAlignment="right" text="&#xE55C;"></Label>
                        </android>
                        <ios>
                            <Label col="2" rowSpan="2" style="padding-right:16" class="fa" verticalAlignment="center" horizontalAlignment="right" [text]="'location-arrow'|fonticon"></Label>
                        </ios>

                    </GridLayout>
                </StackLayout>
            </CardView>

            <!--<ListView [rowHeight]="rowHeight" [items]="locations" *ngFor="let item of locations">
                <template let-item="item">-->
            <CardView *ngFor="let item of locations" (tap)="selectItem(item)" elevation="0" class="card">
                <StackLayout [height]="rowHeight">
                    <GridLayout rows="*,*" columns="auto,*" style="padding:0 16" verticalAlignment="center" orientation="horizontal">
                        <android>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="item?.place_id === selected" class="material-icons" text="&#xE837;"></Label>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="item?.place_id!== selected" class="material-icons" text="&#xE836;"></Label>
                        </android>
                        <ios>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="item?.place_id === selected" class="fa" [text]="'dot-circle-o' | fonticon"></Label>
                            <Label verticalAlignment="center" rowSpan="2" *ngIf="!item?.place_id !== selected" class="fa" text="'circle-o' | fonticon"></Label>
                        </ios>
                        <Label style="padding-left:16" col="1" verticalAlignment="center" [text]="item?.address?.village || item?.address?.town || item?.address?.city  || item?.address?.county"></Label>
                    </GridLayout>
                </StackLayout>
            </CardView>
            <!--</template>
            </ListView>-->

        </StackLayout>
    </ScrollView>
    <!--/Content -->
</GridLayout>